@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
/* s */
/* font-style: normal;
	font-weight: normal;
    */

body {
  font-family: "Inter";
}
.content {
  display: flex;
  background-color: lightblue;
  font-size: 20px;
}
.infoContainer {
  /* display: flex; */
  width: 45%;
  flex-direction: column;
  /* display: flex; */
  /* flex-flow: column wrap; */
  background-color: lightcoral;
}
.picture {
  /* display: flex; */
  border-radius: 250px;
}

.repos {
  display: flex;
  flex-direction: column;
}

.reposHeader {
  font-size: 32px;
  font-weight: 500;
}

.reposItem {
  font-size: 24px;
  color: #0064eb;
  cursor: pointer;
}
